# Ignore common code files
*.a
*.so
*.d
*.o
*.debug
gmon.out
*_d

# Ignore common LaTeX files
*.pdf
*.log
*.aux
*.bbl
*.blg
*.bak
*.swp
*.toc
*.lof
*.nav
*.snm
*.out
*~

# Miscellaneous
.svn

# Put your stuff here
.tox
venv
*.egg-info
*.pyc
.pytest_cache
__pycache__
.coverage
.cache
.mypy_cache

itests/backup
itests/data*
itests/scratch
itests/restore
e2e/backup
e2e/restore
e2e/data/big
