asn1crypto==0.24.0
boto3==1.9.144
botocore==1.12.144
cffi==1.12.3
colorlog==4.0.2
cryptography==2.6.1
docutils==0.14
edlib==1.2.4.post1
jmespath==0.9.4
pycparser==2.19
PyStaticConfiguration==0.10.4
python-dateutil==2.8.0
PyYAML==5.1
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.3
