atomicwrites  # needed on windows for some reason
behave
coverage
ecdsa==0.14.1  # some dumb dep resolver is too stupid to figure this out
flake8
mock
moto
mypy
pre-commit
pyfakefs
pyhamcrest
pytest
requirements-tools
types-dateparser
types-tabulate
